<!DOCTYPE html>
<html> 
<head>
	<title>HSE Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Lato|Mukta+Malar" rel="stylesheet"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="icon" type="image/ico" href="/img/favicon.ico"> 
</head> 
<body>
    <h2>HSE Dashboard</h2>
	<h2>HEALTH SYSTEMS EXCHANGE</h2>
    <h4>You are now logged in.</h4>
 
</body> 
</html>