<!DOCTYPE HTML>
<html>
<head>
	<title>Reset Password - Portal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Lato|Mukta+Malar" rel="stylesheet"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="icon" type="image/ico" href="/img/favicon.ico"> 
<body>

	<header> 
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div id="logo">
                        <a href="#">
                            <img src="/img/logo.png" alt="HSE Portal Logo">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div id="header-buttons">
                        <div id="js-auth-dialog"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="password-reset-form-wrapper">
			{{#if message}}
                <div class="error-messages">{{ message }}</div>
            {{/if}}
    		<div id="js-password-reset-form"></div>
		</div>
    </main>

    <footer>

    </footer>

    <script type="text/javascript" async src="/js/react/app.js"></script>
<script type="text/javascript" async src="/js/script.js"></script>

</body>
</html>